@import "styles/vars.module.scss";
@import "styles/projectCommon.module.scss";

.project__menu {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & > :first-child {
    flex: 0 0 50%;
  }
}
.backBtn {
}
.projectInfo {
  border: 1px solid $text-grey;
  border-radius: 10px;
  padding: 5px 10px;
  color: $text-grey;
  font-size: 0.88rem;
  cursor: default;
}
.project__content {
  display: flex;
  flex-direction: column;
}
.project__bottom {
  margin-top: 40px;
}

.techStack {
  margin: 20px 0;
}
.title {
  font-size: 2.8rem;
  font-family: "Arsinova Deco", sans-serif;
  letter-spacing: 5px;
  line-height: 100%;
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: lowercase;
}
.container {
  max-width: 35vw;
}

.social {
  display: flex;
  gap: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.social > * {
  padding-left: 35px;
  display: flex;
  color: black;
  transition: all 0.3s;
  &:hover {
    color: black;
  }
}
.github {
  background: url("../../assets/img/social/github.svg") 0 0/22px 22px no-repeat;
}
.web {
  background: url("../../assets/img/social/web.svg") 0 0/22px 22px no-repeat;
}
