.techStack {
  display: flex;
  gap: 7px;
  &__item {
    border: 1px solid $text-grey;
    border-radius: 10px;
    padding: 5px 10px;
    color: $text-grey;
    font-size: 0.88rem;
    cursor: default;
  }
}

.project {
  &__top {
    background-color: $accent-grey;
    border-radius: $border-radius;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
  }
  &__topLeft {
    margin-left: -60px;
  }
  &__topRight {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__bottom {
    margin-top: 15px;
  }
}
.projectType {
  font-family: "Arsinova Deco", sans-serif;
  letter-spacing: 5px;
  line-height: 100%;
  font-size: 1.8rem;
  color: $text-grey;
}

.title {
  font-size: 1.11rem;
  margin-top: 25px;
}
.description {
  margin-top: 10px;
  font-size: 1rem;
  color: $text-grey;
}
